In [55]:
import pandas as pd
import numpy as np

### Question 1: Version of Pandas

In [56]:
print(pd.__version__)

2.0.3

### Question 2: Number of columns in the dataset

In [57]:
df = pd.read_csv('housing.csv')
len(df.columns)

10

### Question 3: Select columns with missing data

In [58]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4: Number of unique values in the 'ocean_proximity' column

In [59]:
len(df['ocean_proximity'].unique())

5

### Question 5: Average value of the 'median_house_value' for the houses near the bay

In [60]:
df_near_bay = df[df['ocean_proximity'] == 'NEAR BAY']
median_house_mean = df_near_bay.median_house_value.mean().round(2)
median_house_mean

259212.31

### Question 6: Has the mean value changed after filling missing values? (Google Form)

In [61]:
df_nb_clean = df_near_bay.dropna()
median_house_clean_mean = df_nb_clean.median_house_value.mean().round(2)
median_house_clean_mean == median_house_mean

False

### Question 6 (Repository):
1. Calculate the average of total_bedrooms column in the dataset.
2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3. Now, calculate the average of total_bedrooms again.
4. Has it changed?

> Hint: take into account only 3 digits after the decimal point.

In [62]:
bedrooms_mean = df.total_bedrooms.mean().round(3)
df_fill = df.fillna(bedrooms_mean)
bedrooms_fill_mean = df_fill.total_bedrooms.mean().round(3)

f"bedrooms_mean={bedrooms_mean} - bedrooms_fill_mean={bedrooms_fill_mean}"

'bedrooms_mean=537.871 - bedrooms_fill_mean=537.871'

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -1.4812
- 0.001
- 5.6992
- 23.1233

In [100]:
df_islands = df[df.ocean_proximity == "ISLAND"]
x = df_islands[["housing_median_age", "total_rooms", "total_bedrooms"]].to_numpy()
XTX = x.T.dot(x)
XTX_inv = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_inv.dot(x.T).dot(y)
w

array([23.12330961, -1.48124183,  5.69922946])